# Python Fundamentals Module 3: List Iteration (P2M3)
"iteration" going through the items 
# The Power of List Iteration
- **for in: `for` loop using `in`**
- for range: **`for range(start,stop,step)`** 
- more list methods: **`.extend()`, `+, .reverse(), .sort()`**   
- strings to lists, **`.split()`**, and list to strings, **`.join()`**   


----- 

><font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- **Iterate through Lists** using **`for`** with **`in`**
- Use **`for range()`** in looping operations  
- Use list methods **`.extend()`, `+, .reverse(), .sort()`**  
- convert between lists and strings using  **`.split()`** and **`.join()`**

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Iterate through Lists using 
# ` for in`
[![view video](images/play.svg)](https://youtu.be/J_Hmj7W_nzU)
```python
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in cities:
    print(city)
```


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [1]:
# [ ] review and run example
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in cities:
    print(city)

New York
Shanghai
Munich
Tokyo
Dubai
Mexico City
São Paulo
Hyderabad

In [2]:
# [ ] review and run example
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for sale in sales:
    total += sale
    
print("total sales:", total)

total sales: 124

change the iterator variable name from "sale" to "dollars" or to any valid name

In [8]:
# [ ] review and run example 
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for dollars in sales:
    total += dollars
    
print("total sales:", total)

total sales: 124

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1</B></font>

### Iterate through Lists using `in`

In [3]:
# [ ] create a list of 4 to 6 strings: birds
# print each bird in the list
birds= ["Bluejay","Parakeet", "Cardinal", "Bald Eagle"]
for bird in birds :
    print(bird)

Bluejay
Parakeet
Cardinal
Bald Eagle

In [4]:
# [ ]  create a list of 7 integers: player_points
# [ ] print double the points for each point value
player_points = [1,2,3,4,5,6,7]
for points in player_points :
    print(points * 2)

2
4
6
8
10
12
14

In [8]:
# [ ] create long_string by concatenating the items in the "birds" list previously created
# print long_string - make sure to put a space betweeen the bird names
long_string=""
for bird in birds :
    long_string+=" "+bird
print(long_string)

 Bluejay Parakeet Cardinal Bald Eagle

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Sort and Filter
### use comparison operators while iterating lists


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [10]:
# [ ] review and run example of sorting into strings to display
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = ""
shorter_names = ""

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names += "\n" + bone_name
    else:
        longer_names += "\n" + bone_name

print(shorter_names)
print(longer_names)

calcaneus
talus
cuboid
navicular

lateral cuneiform
intermediate cuneiform
medial cuneiform

In [11]:
# [ ] review and run example of sorting into lists
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = []
shorter_names = []

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names.append(bone_name)
    else:
        longer_names.append(bone_name)

print(shorter_names)
print(longer_names)

['calcaneus', 'talus', 'cuboid', 'navicular']
['lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>

## sort and filter

In [12]:
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
# [ ] Print only cities starting with "m"
for city in cities:
    if city.startswith("M") :
        print(city)

Munich
Mexico City

In [15]:
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
# [ ] sort into lists with "A" in the city name and without "A" in the name: a_city & no_a_city
a_city=[]
no_a_city=[]
for city in cities :
    if "a" in city :
        a_city.append(city)
    else :
        no_a_city.append(city)
print(a_city)
print(no_a_city)

['Shanghai', 'Dubai', 'São Paulo', 'Hyderabad']
['New York', 'Munich', 'Tokyo', 'Mexico City']

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  
## More iteration of lists
## - Counting
## - Searching

### use string methods while iterating lists


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [17]:
# [ ] review and run example
# iterates the "cities" list, count & sum letter "a" in each city name

cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
search_letter = "w"
total = 0

for city_name in cities:
    total += city_name.lower().count(search_letter)

print("The total # of \"" + search_letter + "\" found in the list is", total)

The total # of "w" found in the list is 1

<font size="4" color="#00A0B2"  face="verdana"> <B>search function</B></font>

In [19]:
# [ ] review and run example
# city_search function has a default list of cities to search
def city_search(search_item, cities = ["New York", "Shanghai", "Munich", "Tokyo"] ):
    for city in cities:
        if city.lower() == search_item.lower():
            return True
        else:
            # go to the next item
            pass
    # no more items in list
    return False

# a list of cities
visited_cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

search = input("enter a city visited: ")

# Search the default city list
print(search, "in default cities is", city_search(search))

# search the list visited_cities using 2nd argument
print(search, "in visited_cites list is", city_search(search,visited_cities))

dubai in default cities is False
dubai in visited_cites list is True

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>  
## Program: Paint Stock  
check a list for a paint color request and print status of color "found"/"not found"
- create list, paint_colors, with 5+ colors
- get user input of string:color_request
- iterate through each color in paint_colors to check for a match with color_request

In [ ]:
# [ ] complete paint stock

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 4</B></font>  
## Program: Foot Bones Quiz
**Create a function** that will iterate through foot_bones looking for a match of a string argument
- Call the function 2 times with the name of a footbone 
- print immediate feedback for each answer (correct - incorrect)
- print the total # of foot_bones identified


The program will use the foot_bones list:
```python 
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
             "intermediate cuneiform", "medial cuneiform"]
```
Bonus: remove correct response item from list if correct so user cannot answer same item twice

In [ ]:
# [ ] Complete Foot Bones Quiz
# foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
#             "intermediate cuneiform", "medial cuneiform"]

In [ ]:
# [ ] bonus version

# Module 3 Part 2
# The Power of List Iteration (loops)
- for in: **`for`** loop using **`in`**
- ** for range: `for range(start,stop,step)`** 
- more list methods: **`.extend()`, `+, .reverse(), .sort()`**      
- strings to lists, **`.split()`**, and list to strings, **`.join()`**   


----- 

><font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- Iterate through Lists using **`for`** with **`in`**
- **Use `for range()` in looping operations**  
- Use list methods **`.extend()`, `+, .reverse(), .sort()`**  
- convert between lists and strings using  **`.split()`** and **`.join()`**

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
##  `range(stop)`
### The range(*stop*) function creates a sequence  
using 1 argument with range(*stop*)
- deault start: 0
- stop: stopping integer, does not process stop number
```python
for count in range(10):
  print(count)
```
### same as
```python
for count in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
  print(count)
```


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>  
### range runs from `0` through the integer before `stop`

In [20]:
# [ ] review and run example
for count in range(10):
  print(count)

0
1
2
3
4
5
6
7
8
9

In [21]:
# review and run example
digits = range(10)
print("digits =", list(digits), "\n")

for count in digits:
    print(count)

digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

0
1
2
3
4
5
6
7
8
9

In [19]:
# [ ] review and run example
sub_total = 0
for item in range(10):
    sub_total += item
    print("sub_total:", sub_total)
print("Total =", sub_total)

sub_total: 0
sub_total: 1
sub_total: 3
sub_total: 6
sub_total: 10
sub_total: 15
sub_total: 21
sub_total: 28
sub_total: 36
sub_total: 45
Total = 45

In [22]:
# [ ] review and run example
# print the first half of a spelling list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

# find length of 1st half of list (must be int)
half_1 = int(len(spell_list)/2)

for word in range(half_1):
    print(spell_list[word])

Tuesday
Wednesday
February

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 5</B></font>

## `range(stop)`

In [25]:
# [ ] for x = 6, use range(x) to print the numbers 1 through 6
x=6
for number in range(,x) :
    print(number)

1
2
3
4
5

In [28]:
# [ ] using range(x) multiply the numbers 1 through 7
# 1x2x3x4x5x6x7 = 5040

1 x 1 = 1
2 x 1 = 2
3 x 2 = 6
4 x 6 = 24
5 x 24 = 120
6 x 120 = 720
7 x 720 = 5040
5040

Use **`range(stop)`** to print the second half of spell_list below

In [13]:
# [ ] print the second half of a spelling list using a range(stop) loop to iterate the list
spell_list = ["Wednesday", "Tuesday", "February", "November", "Annual", "Calendar", "Solstice"]

half = 3
November
Annual
Calendar
Solstice

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
##  `range(start,stop)`
### The range(*start,stop*) function creates a sequence
using 2 arguments with range(*start,stop*)
- start: starting integer value of a range loop
- stop: stopping integer (second argument), does not process stop number 
```python
for count in range(5,10):
  print(count)
```


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>  
### range runs from `start` integer through the integer before `stop`

In [29]:
# [ ] review and run example
for count in range(5,10):
  print(count)

5
6
7
8
9

In [30]:
# [ ] review and run example
sub_total = 0
temp = 0
for item in range(5, 11):
    temp = sub_total
    sub_total += item
    print("sub_total:", temp, "+", item, "=",sub_total)
print("Total =", sub_total)

sub_total: 0 + 5 = 5
sub_total: 5 + 6 = 11
sub_total: 11 + 7 = 18
sub_total: 18 + 8 = 26
sub_total: 26 + 9 = 35
sub_total: 35 + 10 = 45
Total = 45

In [31]:
# [ ] review and run example

spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

# find length list 
spell_len = len(spell_list)
# find lenght of 1st half (aka - start of 2nd half)
half_1 = int(spell_len/2)

# print 2nd half list
for word in range(half_1,spell_len):
    print(spell_list[word])

November
Annual
Calendar
Solstice

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 6</B></font>

##  `range(start,stop)`

In [ ]:
# [ ] using range(start,stop), .append() the numbers 5 to 15 to the list: five_fifteen
# [ ] print list five_fifteen

In [ ]:
# [ ] using range(start,stop) - print the 3rd, 4th and 5th words in spell_list
# output should include "February", "November", "Annual"
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

In [ ]:
# [ ] using code find the index of "Annual" in spell_list
# [ ] using range, print the spell_list including "Annual" to end of list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
##  `range(start,stop,step)`
### The range(*start,stop,step*) function creates a sequence
using 3 arguments with range(*start,stop,step*)
- start: starting integer value of a range loop
- stop: stopping integer (second argument), does not process stop number 
- step: skip value for each loop
```python
for count in range(10,101,10):
  print(count)
```


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>  
### range runs from `start` integer, skipping by `step`, through the largest `step` integer before reaching `stop`

In [32]:
# [ ] review and run example
for count in range(25,101,25):
  print(count)

25
50
75
100

In [33]:
# [ ] review and run example
sub_total = 0
temp = 0
for item in range(25,46,5):
    temp = sub_total
    sub_total += item
    print("sub_total:", temp, "+", item, "=",sub_total)
print("Total =", sub_total)

sub_total: 0 + 25 = 25
sub_total: 25 + 30 = 55
sub_total: 55 + 35 = 90
sub_total: 90 + 40 = 130
sub_total: 130 + 45 = 175
Total = 175

In [34]:
# [ ] review and run example printing the 1st and then every other word in spell_list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

for index in range(0,len(spell_list),2):
    print(spell_list[index])

Tuesday
February
Annual
Solstice

In [35]:
# [ ] review and run example casting range to list
odd_list = list(range(1,20,2))
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 7</B></font>  
## `range(start,stop,step)`

In [ ]:
# [ ] print numbers 10 to 20 by 2's using range

In [ ]:
# [ ] print numbers 20 to 10 using range (need to countdown)
# Hint: start at 20

In [ ]:
# [ ] print first and every third word in spell_list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 8</B></font>  

### Program: List of letters 
- Input a word string (**word**)
- find the string length of word 
- **use range()** to iterate through each letter in word (can use to range loops)
- Save odd and even letters from the word as lists
  - **odd_letters**: starting at index 0,2,...
  - **even_letters**: starting at index 1,3,...
- print odd and even lists

In [ ]:
# [ ] complete List of letters program- test with the word "complexity"

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 9: fix the error</B></font>

In [36]:
# [ ] fix the error printing odd numbers 1 - 9
for num in range[1,10,2]:
    print(num)

TypeError: 'type' object is not subscriptable

# Module 3 Part 3
# The Power of List Iteration
- for in: **`for`** loop using **`in`**
- for range: **`for range(start,stop,step)`** 
- **more list methods: `.extend()`, `+, .reverse(), .sort()`**   
- strings to lists, **`.split()`**, and list to strings, **`.join()`**     


----- 

><font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- Iterate through Lists using **`for`** with **`in`**
- Use **`for range()`** in looping operations 
- **Use list methods `.extend()`, `+, .reverse(), .sort()`**  
- convert between lists and strings using  **`.split()`** and **`.join()`**

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Combine Lists
## `+`  list addition
##  `.extend()` list method   

### combine lists with `+` and `.extend()`
```python
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]
# combine in a new list
all_cities = visited_cities + wish_cities

# add a list to an existing list
visitied_cities.extend(wish_cities)
```


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [26]:
# [ ] review and run example
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

# .extend() 
# extending visited_cities list (IN PLACE) by concatenating wish_cities
visited_cities.extend(wish_cities)
print("ALL CITIES",visited_cities)

ALL CITIES ['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad', 'Reykjavík', 'Moscow', 'Beijing', 'Lamu']

In [38]:
# [ ] review and run example
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

# (+) Addition operator for lists creates a (NEW) combined List
all_cities = visited_cities + wish_cities

print("ALL CITIES")
for city in all_cities:
    print(city)

ALL CITIES
New York
Shanghai
Munich
Toyko
Dubai
Mexico City
São Paulo
Hyderabad
Reykjavík
Moscow
Beijing
Lamu

In [39]:
# [ ] review and run example
team_a = [0,2,2,2,4,4,4,5,6,6,6]
team_b = [0,0,0,1,1,2,3,3,3,6,8]
print("Team A:", team_a, "\nTeam B:",team_b)

# (+) Addition operator 
team_totals = team_a + team_b
print("Team Totals", team_totals)

Team A: [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6]
Team B: [0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team Totals [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

In [43]:
# [ ] review and run example after running cell above
# .extend() 
team_a.extend(team_b)
print("Team_a extended", team_a)

# what happens if you keep running this cell?

Team_a extended [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 10</B></font>

### combine lists

In [ ]:
# [ ] extend the list common_birds with list birds_seen which you must create
common_birds = ["chicken", "blue jay", "crow", "pigeon"]

In [ ]:
# [ ] Create 2 lists zero_nine and ten_onehundred that contain 1-9, and 10 - 100 by 10's.
# [ ] use list addition to concatenate the lists into all_num and print

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## .reverse() : reverse a list in place
```python
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("regular", cities_1)
cities_1.reverse()
print("reversed", cities_1)
```


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [44]:
# [ ] review and run example
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("regular", cities_1)
cities_1.reverse()
print("reversed", cities_1)

regular ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
reversed ['Hyderabad', 'São Paulo', 'Mexico City', 'Dubai']

In [45]:
# [ ] review and run example
all_num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("regular list",all_num, "\n")
all_num.reverse()
print("reverse list",all_num, "\n")
num_len = len(all_num)

print("Three Multiple")
for num in all_num:
    if num/3 == int(num/3):
        print(num)
    else:
        pass

regular list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

reverse list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Three Multiple
90
60
30
9
6
3
0

In [46]:
# [ ] review and run example
# create a list of  numbers by casting a range 
count_list = list(range(21))
print("before list", count_list)

# and reverse
count_list.reverse()
print("after list", count_list)

before list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
after list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 11</B></font>

## .reverse()

In [ ]:
# [ ] create and  print a list of multiples of 5 from 5 to 100
# { ] reverse the list and print

In [ ]:
# [ ] Create two lists: fours & more_fours containing multiples of four from 4 to 44
# [ ] combine and print so that the output is mirrored [44, 40,...8, 4, 4, 8, ...40, 44]

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  

## .sort() and sorted()

### .sort() in place  
**.sort()** - orders a list in place 
```python
quiz_scores = [20, 19, 20, 15, 20, 20, 20, 18, 18, 18, 19]
quiz_scores.sort()
```  

### sorted() copy
**sorted()** - creates an ordered list copy 
```python
game_points = [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points = sorted(game_points)
```

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>  
### .sort() and sorted()

In [27]:
# [ ] review and run example
quiz_scores = [20, 19, 20, 15, 20, 20, 20, 18, 18, 18, 19]

# use .sort()
quiz_scores.sort()

print("quiz_scores:", quiz_scores)

quiz_scores: [15, 18, 18, 18, 19, 19, 20, 20, 20, 20, 20]

In [48]:
# [ ] review and run example
game_points = [3, 14, 0, 8, 21, 1, 3, 8]

# use sorted()
sorted_points = sorted(game_points)

print("game_points:", game_points)
print("sorted_points:", sorted_points)

game_points: [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points: [0, 1, 3, 3, 8, 8, 14, 21]

In [28]:
# [ ] review and run example
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("Unsorted", cities_1)
cities_1.sort()
print("Sorted", cities_1)

Unsorted ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
Sorted ['Dubai', 'Hyderabad', 'Mexico City', 'São Paulo']

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 12</B></font>  
## .sort() & sorted()

In [ ]:
# [ ] print cites from visited_cities list in alphbetical order using .sort()
# [ ] only print cities that names start "Q" or earlier
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

In [ ]:
# [ ] make a sorted copy (sorted_cities) of visited_cities list
# [ ] remove city names 5 characters or less from sorted_cities 
# [ ] print visitied cites and sorted cities
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 13</B></font>  
## Program: Merge & Sort Animals
Create a program that 
- takes user to build a list: add_animals 
- merges add_anmials with exisiting list: anmimals
- provides a sorted list to view in alpa or reverse alpha order


<font size="4" color="#B24C00"  face="verdana"> <B>step 1 </B></font> get user input to build add_animals list

In [50]:
# [ ] build a list (add_animals) using a while loop, stop adding when an empty string is entered
add_animals = []

Give me an animal to add or blank to stop: jay
Give me an animal to add or blank to stop: cat
Give me an animal to add or blank to stop: dog
Give me an animal to add or blank to stop: lio
Give me an animal to add or blank to stop:


<font size="4" color="#B24C00"  face="verdana"> <B>step 2 </B></font> Merge the lists: add_animals into animals

In [52]:
# [ ] extend the lists into animals, then sort 
animals = ["Chimpanzee", "Panther", "Wolf", "Armadillo"]

['jay', 'cat', 'dog', 'lio']


<font size="4" color="#B24C00"  face="verdana"> <B>step 3 </B></font> Allow animals list to be viewed alpha or reverse alpha order

In [ ]:
# [ ] get input if list should be viewed alpha or reverse alpha and display list

# Module 3 Part 4
# The Power of List Iteration
- for in: **`for`** loop using **`in`**
- for range: **`for range(start,stop,step)`** 
- more list methods: **`.extend()`, `+, .reverse(), .sort()`**     
- **strings to lists,`.split()`, and list to strings, `.join()`** 
- **list cast & `print("hello", end='')`**


----- 

><font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- Iterate through Lists using **`for`** with **`in`**
- Use **`for range()`** in looping operations  
- Use list methods **`.extend()`, `+, .reverse(), .sort()`**  
- **convert between lists and strings using  `.split()` and `.join()`**
- **cast strings to lists / direct multiple print outputs to a single line**

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Converting a string to a list with `.split()`
### `.split()`  by default, splits a string at spaces (" ") to create a list
```python
tip = "Notebooks can be exported as .pdf"
tip_words = tip.split()

for word in tip_words:
    print(word)
```


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [53]:
# [ ] review and run example
tip = "Notebooks can be exported as .pdf"
tip_words = tip.split()

print("STRING:", tip)
print("LIST:", tip_words, "\n")

for word in tip_words:
    print(word)

STRING: Notebooks can be exported as .pdf
LIST: ['Notebooks', 'can', 'be', 'exported', 'as', '.pdf']

Notebooks
can
be
exported
as
.pdf

In [54]:
# [ ] review and run example
rhyme = "London bridge is falling down"

rhyme_words = rhyme.split()

rhyme_words.reverse()

for word in rhyme_words:
    print(word)

down
falling
is
bridge
London

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 14</B></font>

### using `.split()`

In [ ]:
# [ ] split the string(rhyme) into a list of words (rhyme_words)
# [ ] print each word on it's own line
rhyme = 'Jack and Jill went up the hill To fetch a pail of water'

In [ ]:
# [ ] split code_tip into a list and print the first and every other word
code_tip = "Python uses spaces for indentation"

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## `.split('-')`
### to split on characters other than " " (space), provide `.split()` a string argument to use as break points
```python 
code_tip = "Python-uses-spaces-for-indentation"
tip_words = code_tip.split('-')
```


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>  
### `.split('-') : split with an argument

In [55]:
# [ ] review and run example
code_tip = "Python-uses-spaces-for-indentation"
tip_words = code_tip.split('-')

print(tip_words)

['Python', 'uses', 'spaces', 'for', 'indentation']

In [56]:
# [ ] review and run example - study the list print output
code_tip = "Python uses spaces for indentation"

# split on "a"
tip_words = code_tip.split('a')
print(code_tip)
print(tip_words)

Python uses spaces for indentation
['Python uses sp', 'ces for indent', 'tion']

In [59]:
# [ ] review and run example
# triple quotes ''' ''' preserve formatting such as spaces and line breaks
big_quote = """Jack and Jill went up the hill
To fetch a pail of water
Jack fell down and broke his crown
And Jill came tumbling after"""

# split on line breaks (\n)
quote_lines = big_quote.split('\n')
print("printed without line breaks",quote_lines, '\n')

# print the list in reverse with index slicing
for line in quote_lines[::-1]:
    print(line)

printed without line breaks ['Jack and Jill went up the hill', 'To fetch a pail of water', 'Jack fell down and broke his crown', 'And Jill came tumbling after']

And Jill came tumbling after
Jack fell down and broke his crown
To fetch a pail of water
Jack and Jill went up the hill

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 15</B></font>

## `.split()`

In [ ]:
# [ ] split poem into a list of phrases by splitting on "*" a
# [ ] print each phrase on a new line in title case
poem = "Write code frequently*Save code frequently*Comment code frequently*Study code frequently*"

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  

## `.join()` &nbsp; build a string from a list
### `.join()` is a method applied to a separator string and iterates through its argument
```python
tip_words = ['Notebooks', 'can', 'be', 'exported', 'as', '.pdf'] 

" ".join(tip_words)
```
a space (" ") is the separator that gets injected between the objects in the argument (the list "tip_words")


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>  
## `.join()`

In [29]:
# [ ] review and run example
tip_words = ['Notebooks', 'can', 'be', 'exported', 'as', '.pdf'] 

# join tip_words objects with spaces
print(" ".join(tip_words))

Notebooks can be exported as .pdf

In [30]:
# [ ] review and run example
no_space = ""
letters = ["P", "y", "t", "h", "o", "n"]
print(no_space.join(letters))

Python

In [62]:
# [ ] review and run example - .join() iterates through sequences
dash = "-"
space = " "
word = "Iteration"
ellipises = "..."

dash_join = dash.join(word)
print(dash_join)
print(space.join(word))
print(ellipises.join(word))

I-t-e-r-a-t-i-o-n
I t e r a t i o n
I...t...e...r...a...t...i...o...n

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 16</B></font>  
## `.join()`

In [ ]:
# [ ] .join() letters list objects with an Asterisk: "*"
letters = ["A", "s", "t", "e", "r", "i", "s", "k"]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 17</B></font>  
## Program: Choose the separator
- get user input on what to use to join words (" ", *, -, etc...) - store in variable: separator
- join pharse_words with the separator and print

In [ ]:
# [ ] complete Choose the separator
phrase_words = ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concept</B></font>
## More Python string tools (tricks?)
### Cast a string to a list of characters  
```python
hello_letters = list("Hello")
```
### print to the same line with multiple print statements (`end=`)
or insert any character as an end in print("String", end="+")
```python
print('Hello', end = '')
print('world')
```


<font size="4" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [31]:
# [ ] review and run example
hello_letters = list("Hello")
print(hello_letters)

['H', 'e', 'l', 'l', 'o']

In [64]:
# [ ] review and run example
# cast sting to list
word_letters = list("concatenates")

# .join() concatenates the list
# print on same line setting the end character
print('~'.join(word_letters))

c~o~n~c~a~t~e~n~a~t~e~s

In [32]:
# [ ] review and run example
print("Hello ", end = '')
print("world")

Hello world

In [66]:
# [ ] review and run example
# This  is the default print end
print("Hello World!", end="\n")
print('still something to learn about print()')

Hello World!
still something to learn about print()

In [67]:
# [ ] review and run example
# end inserts any valid str character: A-z, 0-9,!,@,*,\n,\t or ''(empty string)...
for letter in "Concatenation":
    print(letter, end='*')

C*o*n*c*a*t*e*n*a*t*i*o*n*

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 18</B></font>
## `end=" " ` configuration in printing
`print('The String', end='')`

In [ ]:
# [ ] use 3 print() statements to output text to one line 
# [ ] separate the lines by using "- " (dash space)

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 19</B></font>
## cast: str to list
`Msg_characters = list("Always test your code")`

In [ ]:
# [ ] create a string (fact) of 20 or more characters and cast to a list (fact_letters)
# [ ] iterate fact, printing each char on one line, except for spaces print a new line

# &nbsp;  
<font size="6" color="#B24C00"  face="verdana"> <B>Task 20</B></font>  
## Program: add the digits
- create a 20 digit string, and cast to a list
- then add all the digits as integers
- print the equation and answer  

Hint: use cast to sum the digits, and .join() to create the equation (1+2+3+...)

In [ ]:
# [ ] create add the digits

© 2017 Microsoft adapted with persmission by Dominic Thomas